:root {
    --primary-bg-color: #c67c41;
    --primary-text-color: white;
}

html {
    overflow-x: hidden;
    overflow-y: auto
}

body {
    background-color: var(--primary-bg-color) !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.normal-padding {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content-area {
    background-color: var(--primary-bg-color);
}

.left {
    display: flex;
}

.right {
    display: flex;
}

.right > span {
    padding: 2.5px 0 !important;
}

.restriction-from-container {
    background: white;
}

.navbar {
    padding: 5px !important;
    height: 45px !important;
    align-items: normal !important;
}

.loged-in {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: auto;
}

.loged-in > button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loged-in > h3 {
    margin: 0;
}

.loged-in > h3 > a {
    text-decoration: none;
}

.modal {
    display: flex;
    flex-direction: column;
}

.modal > button {
    align-self: flex-end;
}

.hide {
    display: none;
}

.show-modal {
    display: flex !important;
}

.recepies {
    padding: 3rem;
}

.recepies > button {
    margin-bottom: 2%;
}

#recepie-modal {
    background-color: white;
    position: absolute;
    width: 40%;
    border: 1px solid black;
    border-radius: 15px;
    padding: 4rem;
    height: auto;
    top: 10%;
    left: 30vw;
    max-width: 600px;
}

.close-btn {
    margin-bottom: 2rem;
}

.cus-btn {
    padding: 2px 7px !important;
}

.error {
    color: red;
}

.error-input {
    border: 1px solid red;
}

#ingred-btn {
    margin-bottom: 2rem;
}

.ingr-cont {
    align-items: flex-start;
}

.ingr-cont > button {
    align-self: center;
}

#recepie-container {
    padding: 5vw;
}

#detail-bar {
    display: flex;
}

#detail-bar > div {
    text-align: center;
    padding: 0 2vw;
    border-left: 1px solid black;
    font-size: .8rem;
}

#instruction > p {
    margin-top: 1rem;
}

#detail-bar > div > p {
    margin: 0;
}

#detail-bar > div:last-child {
    border-right: 1px solid black;
}

#generate-btn {
    padding: 2rem;
}

#contain > table {
    margin: 0 auto;
}

#classes-modal {
    background-color: white;
    position: absolute;
    width: 40%;
    border: 1px solid #c2c2c2;
    border-radius: 15px;
    padding: 4rem;
    margin: 20vh 0;
    margin-left: 30vw;
    height: auto;
}

#forms {
    padding: 1rem;
}

a {
    color: black;
    text-decoration: none;
}

.cus-nav {
    justify-content: space-between !important;
}

.cus-nav, ::after, ::before {
    box-sizing: unset !important;
}

.show > ul, .collapsing > ul{
    border-radius: 5px;
    margin-top: 10px;
    background-color: #6c757d;
    padding: 1rem;
}

.show > ul > .color-link > a{
    color: white !important;
}

.clas-btn {
    width: 100px;
}

.ingred-add:not(:last-child) {
    border-bottom: 1px solid gray;
}

.ingr-ms {
    margin-top: 7px;
}

.form-label {
    margin-bottom: 2px !important;
}

#welcome {
    box-shadow: inset 100vw 100vh rgba(0, 0, 0, .35);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    height: calc(100vh - 55px - 150px);;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://images.unsplash.com/photo-1493770348161-369560ae357d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
}



#welcome-cont {
    color: white;
}

#footer {
    height: 150px;
    background-color: rgb(61, 60, 59);
}

@media only screen and (max-width: 1024px) {
    .loged-in {
        gap: .5rem;
    }
  }