html {
    overflow-x: hidden;
    overflow-y: scroll;
}

.normal-padding {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.left {
    display: flex;
}

.right {
    margin-left: auto;
    height: 100%;
    text-align: center;
    display: flex;
}

#recepie-table {
    margin-top: 2rem;
    width: 80%;
}

.navbar {
    padding: 1rem;
    height: 5rem;
}

.loged-in {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: auto;
}

.loged-in > button {
    width: 3rem;
    height: 3rem;
}

.loged-in > h3 {
    margin: 0;
}

.loged-in > h3 > a {
    text-decoration: none;
}

.modal {
    display: flex;
    flex-direction: column;
}

.modal > button {
    align-self: flex-end;
}

.hide {
    display: none;
}

.show-modal {
    display: flex;
}

.recepies {
    padding: 3rem;
}

#recepie-modal {
    background-color: white;
    position: absolute;
    width: 40%;
    border: 1px solid black;
    border-radius: 15px;
    padding: 4rem;
    margin: 20vh 0;
    margin-left: 30vw;
    height: auto;
}

.close-btn {
    margin-bottom: 2rem;
}

.error {
    color: red;
}

.error-input {
    border: 1px solid red;
}

#ingred-btn {
    margin-bottom: 2rem;
}

.ingr-cont {
    align-items: flex-end;
}

tr {
    border: 1px solid black;
}

tr > th, tr > td {
    padding: .5rem;
}

th {
    border: 1px solid black;
}


#recepie-container {
    padding: 5vw;
}

#detail-bar {
    display: flex;
}

#detail-bar > div {
    text-align: center;
    padding: 0 2vw;
    border-left: 1px solid black;
    font-size: .8rem;
}

#instruction > p {
    margin-top: 1rem;
}

#detail-bar > div > p {
    margin: 0;
}

#detail-bar > div:last-child {
    border-right: 1px solid black;
}

#generate-btn {
    padding: 2rem;
}

#contain > table {
    margin: 0 auto;
}

#forms > div > table > tbody > tr > td, #forms > div > table > tbody > tr > th {
    border: 1px solid black;
}

#classes-modal {
    background-color: white;
    position: absolute;
    width: 40%;
    border: 1px solid black;
    border-radius: 15px;
    padding: 4rem;
    margin: 20vh 0;
    margin-left: 30vw;
    height: auto;
}