:root {
    --primary-bg-color: #c67c41;
    --primary-text-color: white;
}

html {
    overflow-x: hidden;
    overflow-y: scroll;
}

body, html {
    height: 100%;
}

body {
    background-color: var(--primary-bg-color);
}

.normal-padding {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.left {
    display: flex;
}

.navbar {
    padding: 1rem !important;
    height: 5rem !important;
    align-items: normal !important;
}

.loged-in {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: auto;
}

.loged-in > button {
    width: 3rem;
    height: 3rem;
}

.loged-in > h3 {
    margin: 0;
}

.loged-in > h3 > a {
    text-decoration: none;
}

.modal {
    display: flex;
    flex-direction: column;
}

.modal > button {
    align-self: flex-end;
}

.hide {
    display: none;
}

.show-modal {
    display: flex !important;
}

.recepies {
    padding: 3rem;
}

.recepies > button {
    margin-bottom: 2%;
}

#recepie-modal {
    background-color: white;
    position: absolute;
    width: 40%;
    border: 1px solid black;
    border-radius: 15px;
    padding: 4rem;
    margin: 20vh 0;
    margin-left: 30vw;
    height: auto;
}

.close-btn {
    margin-bottom: 2rem;
}

.error {
    color: red;
}

.error-input {
    border: 1px solid red;
}

#ingred-btn {
    margin-bottom: 2rem;
}

.ingr-cont {
    align-items: flex-start;
}


#recepie-container {
    padding: 5vw;
}

#detail-bar {
    display: flex;
}

#detail-bar > div {
    text-align: center;
    padding: 0 2vw;
    border-left: 1px solid black;
    font-size: .8rem;
}

#instruction > p {
    margin-top: 1rem;
}

#detail-bar > div > p {
    margin: 0;
}

#detail-bar > div:last-child {
    border-right: 1px solid black;
}

#generate-btn {
    padding: 2rem;
}

#contain > table {
    margin: 0 auto;
}

#classes-modal {
    background-color: white;
    position: absolute;
    width: 40%;
    border: 1px solid black;
    border-radius: 15px;
    padding: 4rem;
    margin: 20vh 0;
    margin-left: 30vw;
    height: auto;
}

#forms {
    padding: 1rem;
}

a {
    color: black;
    text-decoration: none;
}

.cus-nav {
    justify-content: space-between !important;
}

.show > ul, .collapsing > ul{
    border-radius: 5px;
    margin-top: 10px;
    background-color: #6c757d;
    padding: 1rem;
}

.show > ul > .color-link > a{
    color: white !important;
}

.clas-btn {
    width: 100px;
}

.ingr-ms {
    margin-top: 1rem;
}

#welcome {
    box-shadow: inset 100vw 100vh rgba(0, 0, 0, .35);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://images.unsplash.com/photo-1493770348161-369560ae357d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
}



#welcome-cont {
    color: white;
}

#footer {
    height: 200px;
    background-color: rgba(0, 0, 0, .5);
}