.reg-worker {
    display: flex;
    justify-content: center;
}

.reg-worker > form {
    margin: 0;
}

.user {
    display: flex;
    justify-content: center;
}

.user > div {
    padding: 2rem;
    border: 1px rgba(0, 0, 0, .15) solid;
    border-radius: 15px;
}

#forms {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}